.headline {
  margin: 0;
}
.headline-pre {
  margin-top: 1em;
}
.headline-super {
  font-size: 600%;
  margin-bottom: 50px;
}
ul {
  margin-left: -25px;
}
li {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
}
