.headline {
  margin: 0;
}
.headline-pre {
  margin-top: 1em;
}
.headline-super {
  font-size: 600%;
  margin-bottom: 10px;
}
ul {
  margin-left: -25px;
  margin-bottom: 70px;
}
li {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
}
a {
  text-decoration: none;
}
.active {
  border-bottom: 1px solid black;
}

@media screen and (max-width: 500px) {
  .headline-super {
    font-size: 400%;
  }
  .headline-pre {
    font-size: 140%;
  }
}
