
<div class="narrow-container" id="details-container">
  <!-- Here's how to bind the form to onSubmit (w/c is my func in the controller)-->
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group box" id="slider-box">
      <label for="exampleInputEmail1">Price</label>
      <div class="slidecontainer">
        <input 
          type="range" 
          min="1" max="100" value="50" 
          class="slider" 
          id="price" 
          ngModel name="price">
      </div>    
    </div>
    <div class="form-group box" id="location-box">
      <label for="location">Location</label>
      <input 
        type="text" 
        class="form-control" 
        id="location" 
        placeholder="Enter a city and state" 
        ngModel name="location">
    </div>
  
    <div class="form-group box" id="status-box">
      <label>Status:</label>
      <div class="radio">
        <label>
          <input type="radio" ngModel name="status">Dreaming: A year or more from buying
        </label>
      </div>

      <div class="radio">
        <label>
          <input type="radio" name="status"> Getting serious: 180 - 365 days from buying
        </label>
      </div>

      <div class="radio">
        <label>
          <input type="radio" name="status"> Packing up: Buying in 90 - 160 days
        </label>
      </div>

      <div class="radio">
        <label>
          <input type="radio" name="status"> Time to go: Ready to buy!
        </label>
      </div>
    </div>
    
    <button type="submit" class="btn btn-success">Submit</button>
  </form>

  <hr>

  <button type="button" class="btn btn-warning" (click)="onButtonClick()">Home</button>
  <!-- onButtonClick, above, currently calls a method in the component which simply
    redirects to / - a demo, not really needed at the moment, of how to redirect
    after running some operations -->
</div>

<!-- How to tie radio buttons into an ng form? -->