
<div class="narrow-container" id="essay-container">
  <!-- Here's how to bind the form to onSubmit (w/c is my func in the controller)
    f is the local ref to the form -->
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group box">
      <textarea name="textarea" id="essay"
        rows="10" cols="40">Describe your dream in this box. Tell us if your dream home is city, country, or small town, by a lake, in the mountains or near good schools. Be sure to think about whether it's relaxed, formal, or a bit of both. Be as descriptive as possible!
      </textarea>
    </div>
    <button 
      type="submit" 
      class="btn btn-success"
      >Submit</button>
  </form>
</div>
 <!-- How to tie a text area into a form??? -->