<form>
  <div class="form-check">
    <div class="row house-container">
      <div class="col-xs-12">
        <img class="img-responsive" src="assets/images/x-sm.png" />
      </div>
      <div class="col-xs-12">
        <h1>A GREAT START</h1>
          <p>Starter home</p>
          <p>1600 sq. ft. or less</p>
      </div>
      <div class="col-xs-12">
        <div button-container>
          <input class="form-check-input" 
            type="radio" 
            name="housesize" 
            id="housesize1" 
            value="housesize1">
        </div>
      </div>
    </div>
  </div>

  <div class="form-check">
    <div class="row house-container">
      <div class="col-xs-12">
        <img class="img-responsive" src="assets/images/sm.png" />
      </div>
      <div class="col-xs-12">
        <h1>GROWING FAMILY</h1>
          <p>A few more bedrooms</p>
            <p>1600-2400 sq. ft.</p>
      </div>
      <div class="col-xs-12">
        <div button-container>
            <input class="form-check-input" 
              type="radio" 
              name="housesize" 
              id="housesize2" 
              value="housesize2">
        </div>
      </div>
    </div>
  </div>

  <div class="form-check">
    <div class="row house-container">
      <div class="col-xs-12">
        <img class="img-responsive" src="assets/images/med.png" />
      </div>
      <div class="col-xs-12">
        <h1>MOVIN' ON UP</h1>
          <p>Space to spread out</p>
          <p>2400-3500 sq. ft.</p>
      </div>
      <div class="col-xs-12">
        <div button-container>
          <input class="form-check-input" 
            type="radio" 
            name="housesize" 
            id="housesize3" 
            value="housesize3">
        </div>
      </div>
    </div>
  </div>

  <div class="form-check">
    <div class="row house-container">
      <div class="col-xs-12">
        <img class="img-responsive" src="assets/images/lg.png" />
      </div>
      <div class="col-xs-12">
        <h1>LIVIN' LARGE</h1>
        <p>Quite a showplace</p>
        <p>Above 3500 sq. ft.</p>
      </div>
      <div class="col-xs-12">
        <div button-container>
          <input class="form-check-input" 
            type="radio" 
            name="housesize" 
            id="housesize4" 
            value="housesize4">
      </div>
      </div>
    </div>
  </div>

  <div class="form-check">
    <div class="row house-container">
      <div class="col-xs-12">
        <img class="img-responsive" src="assets/images/x-lg.png" />
      </div>
      <div class="col-xs-12">
        <h1>THE ONE PERCENT</h1>
        <p>Ready to rule!</p>
        <p>Premium size and cost</p>
      </div>
      <div class="col-xs-12">
        <div button-container>
          <input class="form-check-input" 
            type="radio" 
            name="housesize" 
            id="housesize5" 
            value="housesize5">      
        </div>
      </div>
    </div>  
  </div>

  <button type="submit" class="btn btn-success">Submit</button>

</form>
