<div class="house-container">
  <img src="../../assets/images/x-sm.png" />
  <h1>A GREAT START</h1>
  <p>Starter home, 1600 sq. ft. or less{{</p>
  <div button-container>
    <span class="new-radio">---</span>  
  </div>
</div>

<div class="house-container">
  <img src="../../assets/images/sm.png" />
  <h1>GROWING FAMILY</h1>
  <p>A few more bedrooms, 1600-2400 sq. ft.</p>
  <div button-container>
    <span class="new-radio">---</span>  
  </div>  
</div>

<div class="house-container">
  <img src="../../assets/images/med.png" />
  <h1>MOVIN' ON UP</h1>
  <p>Space to spread out, 2400-3500 sq. ft.</p>
  <div button-container>
    <span class="new-radio">---</span>  
  </div>  
</div>

<div class="house-container">
  <img src="../../assets/images/lg.png" />
  <h1>LIVIN' LARGE</h1>
  <p>Quite a showplace, Above 3500 sq. ft.</p>
  <div button-container>
    <span class="new-radio">---</span>  
  </div>  
</div>

<div class="house-container">
  <img src="../../assets/images/x-lg.png" />
  <h1>THE ONE PERCENT</h1>
  <p>Ready to rule! Premium size and cost </p>
  <div button-container>
    <span class="new-radio">---</span>  
  </div>  
</div>